
.gradient-custom {
    /* fallback for old browsers */
    background: #667eea;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(102,126,234,0.55), rgba(118,75,162,0.55));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(102,126,234,0.55), rgba(118,75,162,0.55))
  }

//   .inner_div {
//     // position: inherit;
//     // display: grid;
//     // grid-template-rows: repeat(1, auto);
//     // grid-row-gap: 10px;
//     // grid-column-gap: 20px;
//     // grid-template-columns: repeat(10, auto);
//     background: #ffffff33;
//     // border-radius: 10px;
//     box-shadow: 0 4px 30px #0000001a;
//     backdrop-filter: blur(5px);
//     -webkit-backdrop-filter: blur(5px);
//     border-radius: 10px !important;
    

//     }

//     .overview{
//         padding: 15px;

//     }

//     // .trans{
//     //     background: transparent;
//     //     border: none;
//     //     backdrop-filter: blur(5px);
//     //     -webkit-backdrop-filter: blur(5px);
//     // }

//     .table-set{
//         // display: grid;
//         // grid-template-rows: repeat(1, auto);
//         grid-row-gap: 12px;
//         // margin-bottom: 10px;
//     }

//     .tr-setting{
//         // border-radius: 10px;
//         border: none;    
//         color: rgb(90, 96, 96);
//         background: transparent;
//         box-shadow: 0 4px 30px #e8e7e71a;
//         backdrop-filter: blur(7px);
//         -webkit-backdrop-filter: blur(7px);
//         // margin-top: 50px;
//         // margin-bottom: 10px;
//         vertical-align: middle;
//     }

//     .heading-setting{
//         margin-left: 45px;
//         margin-top: 12px;
//     }

//     #tabs{
//         margin-bottom: 20px !important;
//     }

    .table-grid{
        display: grid;
        // grid-template-columns: repeat(10, auto);
        grid-template-rows: repeat(1, auto);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin:  15px;
        // grid-column-gap: 10px;
        // grid-gap: 10px;

    }

    .table_head{
        margin: 10px;
        text-align: left;
        align-items: left;
        justify-content: space-evenly;
    }

    .table_border{
        // display: block !important;
        // border: ;
        border-radius: 10px;
         
        // border-block: 10px;
    }
