.gradient-custom {
    /* fallback for old browsers */
    background: #95a3df;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(149,163,223,0.6), rgba(155,105,201,0.6));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(149,163,223,0.6), rgba(155,105,201,0.6))
  }

//   .inner_div {
//     // position: inherit;
//     // display: grid;
//     // grid-template-rows: repeat(1, auto);
//     // grid-row-gap: 10px;
//     // grid-column-gap: 20px;
//     // grid-template-columns: repeat(10, auto);
//     background: #ffffff33;
//     // border-radius: 10px;
//     box-shadow: 0 4px 30px #0000001a;
//     backdrop-filter: blur(5px);
//     -webkit-backdrop-filter: blur(5px);
//     border-radius: 10px !important;
    

//     }

//     .overview{
//         padding: 15px;

//     }

//     // .trans{
//     //     background: transparent;
//     //     border: none;
//     //     backdrop-filter: blur(5px);
//     //     -webkit-backdrop-filter: blur(5px);
//     // }

//     .table-set{
//         // display: grid;
//         // grid-template-rows: repeat(1, auto);
//         grid-row-gap: 12px;
//         // margin-bottom: 10px;
//     }

//     .tr-setting{
//         // border-radius: 10px;
//         border: none;    
//         color: rgb(90, 96, 96);
//         background: transparent;
//         box-shadow: 0 4px 30px #e8e7e71a;
//         backdrop-filter: blur(7px);
//         -webkit-backdrop-filter: blur(7px);
//         // margin-top: 50px;
//         // margin-bottom: 10px;
//         vertical-align: middle;
//     }

//     .heading-setting{
//         margin-left: 45px;
//         margin-top: 12px;
//     }

//     #tabs{
//         margin-bottom: 20px !important;
//     }

    .table-grid{
        display: grid;
        // grid-template-columns: repeat(10, auto);
        grid-template-rows: repeat(1, auto);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin:  15px;
        backdrop-filter: blur(5px);
//     //     -webkit-backdrop-filter: blur(5px);
        // grid-column-gap: 10px;
        // grid-gap: 10px;

    }

    .table_head{
        margin: 10px;
        text-align: left;
        align-items: left;
        justify-content: space-evenly;
    }

    .table_border{
        // display: block !important;
        // border: ;
        // border-radius: 10px;
        // border: black !important;
        margin-top: 30px;
        padding: 5px;
        padding-top: 12px;
        padding-bottom: 4px;
        background: #ffffff51;
        border-radius: 10px;
        box-shadow: 0 4px 30px #7e7b7b1a;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        // transition: 0.3s;
        // border-radius: 5px; /* 5px rounded corners */
         
        // border-block: 10px;
    }

    .border_non{
        border: hidden !important;
        border-top: white !important;
        border-color: white !important;
        border-left: white !important;
        border-right: white !important;
        border-bottom: black;
        border-width: 50px;
        background-color: white;
    
    }

        .heading-setting{
        margin-left: 45px;
        margin-top: 12px;
    }

    // .p_style{

    // }



    //            LOGINNNNNNNNNNNNNN



    //              CUSTOM STUFFFFFFFFFFFFFFFFFFF

    .log_grid{
        display: grid;
        grid-template-columns: repeat(2, 500px);
        height: 600px;
    }

    .log_coperate{
        justify-content: center;
        margin-top: 200px;
    }

    .nav li .active-page{
        background-color: white;
        color: #2519cb;
    }
    .nav li a{
        color: white;
    }
    .nav li a:hover{
        background-color: white;
        color: rgb(43, 55, 226);
    }
    .myNav{
        border-top-right-radius: 10px;
    }
    .btn-purple{
        background-color: rgb(6, 6, 6);
        color: white;
        border: none;
        border-radius: 20px;
    }